@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-barlow: "Barlow", sans-serif;

    --white-color: #fff;
    --black-color: black;
    --light-yellow: #D8FF99;
    --light-grey-color: #E6E6E6;
    --light-green: #9EFF00;
    --grey-200: #98989A;
    --grey-100: #656567;
    --border-color: #262626;
    --bg-color: #24242480;
    --bg-body-color: #1A1A1A;
    --sec-bg-color: #24242433;
    --black-100: #333333;

    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;



    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-38: 38px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.black {
    color: var(--black-color);
}

.yellow {
    color: var(--light-yellow);
}

.grey {
    color: var(--light-grey-color);
}

.grey-200 {
    color: var(--grey-200);
}

.grey-100 {
    color: var(--grey-100)
}

.green {
    background: var(--light-green);
}


.ff {
    font-family: var(--ff-barlow);
}

.curser {
    cursor: pointer;
}

.sec-bg-color {
    background: var(--bg-body-color);
}

/*===================== nav bar ==========================*/
.nav_bttn {
    padding: 12px 18px 12px 18px;
    border-radius: 6px;
    background-color: var(--light-green);
    border: 1px solid transparent;
    transition: all 200ms linear;
}

.nav_links {
    transition: all 300ms linear;
}

.nav_links:hover {
    color: var(--light-green);
    -webkit-text-stroke: thin;
}

.nav_bttn:hover {
    border: 1px solid var(--light-green);
    color: var(--light-green);
    background-color: black;
}



.pt_22 {
    padding-top: 22px;
}

.pb_22 {
    padding-bottom: 22px;
}

/*======================== hero section ==================================*/
.hero_sec_bg_img {
    background-image: url("../img/png/Hero_section_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1280px;
}

.our-btn {
    border: 1px solid transparent;
    transition: all 300ms linear;

}

.our-btn:hover {
    border: 1px solid var(--white-color);
}

.max-w-550 {
    max-width: 550px;
}

.about-part {
    max-width: 699px;
    min-height: 74px;
    border-radius: 8px;
    padding: 18px 30px 18px 30px;
    border: 1px solid var(--border-color);
    background: var(--sec-bg-color);
    margin-top: 30px;
}

.about-itm-box {
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: var(--border-color);
    cursor: pointer;
}

.gap_6 {
    gap: 6px;
}

.gap_13 {
    gap: 13px;
}

.btn-2 {
    padding: 14px 20px 14px 20px;
    border: 1px solid var(--black-100);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: var(--sec-bg-color);
}


/*================= slick slider =================*/
.slick_slider {
    border-width: 0px, 1px, 1px, 1px;

    background: var(--sec-bg-color);
    border-style: solid;
    padding: 30px 0px 30px 0px;
    border-color: var(--border-color);
}


/*================== our services ==================*/
.our_services_bg_img {
    background-image: url("../img/png/our_services_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
    position: relative;
    z-index: 1;
}

.our_services_bg_img::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-body-color);
    opacity: 75%;
    z-index: 2;
}

.pt_10 {
    padding-top: 10px;
}

.container_1280 {
    max-width: 1280px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.services_card {
    padding: 25px;
    border: 1px solid var(--border-color);
    min-height: 100%;
}

.pt_30 {
    padding-top: 30px;
}

.services_btn_2,
.services_btn {
    width: 100%;
    min-height: 52px;
    background-color: var(--border-color);
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all 200ms linear;
}

.services_btn_2:hover,
.services_btn:hover {
    border: 1px solid var(--white-color);
}

/*==================== why choice us  =====================*/
.why_choice_bg_img {
    background-image: url("../img/png/why_choice_us.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
    position: relative;
    z-index: 1;
}

.why_choice_bg_img::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-body-color);
    opacity: 75%;
    z-index: 2;
}

.max-w-780 {
    max-width: 780px;
}

.choice_us_card {
    padding: 25px;
    border: 1px solid var(--border-color);
    min-height: 100%;
}


/*================== about us ====================*/

.about_us_bg_img {
    background-image: url("../img/png/about_us.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
    position: relative;
    z-index: 1;
}

.about_us_bg_img::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-body-color);
    opacity: 75%;
    z-index: 2;
}

.about_us_card {
    padding: 30px 20px 30px 20px;
    border: 2px solid var(--border-color);
    min-height: 100%;
}

.profile_card {
    border: 1px solid var(--border-color);
    background: var(--sec-bg-color);
    padding: 7px;
    border-radius: 6px;
}



.web_btn {
    padding: 14px 16px 14px 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    background: var(--border-color);
    transition: all 200ms linear;
}

.web_btn:hover {
    border: 1px solid var(--white-color);
}

.mt_30 {
    margin-top: 30px;
}

/*=================== faq ==================*/
.faq_us_bg_img {
    background-image: url("../img/png/faq_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
    position: relative;
    z-index: 1;
}

.faq_us_bg_img::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-body-color);
    opacity: 75%;
    z-index: 2;
}

.acc_num_box {
    color: var(--white-color);
    border-radius: 6px;
    padding: 16px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
    background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}

.accordian-heading {
    color: var(--white-color);
}

.svg_green_color svg path {
    fill: var(--light-green);
}

.accrodain_itm {
    padding: 30px 40px 30px 30px;

}

.acc_border {
    border-top: 1px;
    border-color: var(--border-color);
    border-style: solid;
}

/* .border-end-1px {
    border-left: 1px solid var(--border-color);
} */

.hidden_txt {
    display: none;
}

.accordian_cross {
    display: none;
}



/*================= thanks section =================*/
.thanks_bg_img {
    background-image: url("../img/png/faq_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 483px;
    position: relative;
    z-index: 1;
}

.thanks_bg_img::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-body-color);
    opacity: 75%;
    z-index: 2;
}

.pt_40 {
    padding-top: 40px;
}

.mt_40 {
    margin-top: 40px;
}

/*================= info section ======================*/
.container_846 {
    max-width: 846px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.about_card {
    padding: 25px;
}

.name {
    padding: 20px 30px 20px 30px;
    background: var(--bg-body-color);
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

input[type="text"]::placeholder {
    font-family: var(--ff-barlow);
    font-size: var(--fs-16);
    font-weight: var(--fw-4);
    line-height: var(--lh-24);
    color: var(--grey-100);
}

.select {
    padding: 30px;
    background: var(--bg-body-color);
    border-radius: 6px;
    border: 1px solid var(--border-color);
    margin-top: 30px;
}

.budget {
    padding: 30px;
    background: var(--bg-body-color);
    border-radius: 6px;
    border: 1px solid var(--border-color);
    margin-top: 30px;
}

.name_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}


.message {
    padding: 30px;
    background: var(--bg-body-color);
    border-radius: 6px;
    border: 1px solid var(--border-color);
    margin-top: 30px;
}

.underline {
    width: 100%;
    border: 1px solid var(--border-color);
    margin-top: 34px;
}

.mt_20 {
    margin-top: 20px;
}

/* footer================ */
.border_top {
    border-top: 1px solid var(--border-color);
}

.gap_20 {
    gap: 20px;
}

.gap_68 {
    gap: 68px;
}

.contact_us {
    background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 8px;
}

.pt_40 {
    padding-top: 40px;
}

.footer_bottom_line {
    background-color: var(--border-color);
    height: 1px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer_bottom_line2 {
    background-color: var(--border-color);
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.gap_22 {
    gap: 22px;
}

.footer_links {
    transition: all 300ms linear;
}

.footer_links:hover {
    color: var(--light-green);
    -webkit-text-stroke: thin;
}

.median_app {
    transition: all 300ms linear;
}

.median_app:hover {
    transform: scale(1.1);
}

.container_1440 {
    max-width: 1440px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--border-color);
}

.border-left-right {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}


/*=============== custom checkbox =================*/
.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--black-100);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid var(--light-green);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/*================= .scroll_to_top ================*/
.scroll_to_top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 30;
    animation: toTop 1s infinite;
    transition: all 300ms linear;
    animation: top 2s infinite;
}

.scroll_to_top:hover {
    animation: top 1s infinite;
}

/*====================== preloader ========================*/

.preloader {
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0;
    right: 0;
    background-color: var(--black-color);
    z-index: 100;
}

.cv_txt {
    animation: preloader 3s infinite;
}
/*============== animation ============*/
@keyframes top {
    25% {
        transform: translateY(10px);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: translateY(0p);
    }
}

@keyframes preloader {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

/*================== media screen =========================*/
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--border-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .menu-links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
        align-items: end;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }


}

@media (min-width:576px) {
    .fs-sm-36 {
        font-size: var(--fs-36);
    }

    .lh-sm-42 {
        line-height: var(--lh-42);
    }

    .services_btn {
        margin-top: 50px !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .about_us_card {
        padding: 40px 30px 30px 30px !important;
    }

    .about_card {
        padding: 40px;
    }

    .profile_card {
        padding: 10px;
    }

    .web_btn {
        padding: 10px 12px 10px 12px !important;
    }

    .pl-100 {
        padding-left: 100px;
    }

    .choice_us_card {
        padding: 40px !important;
    }

    .fs-sm-30 {
        font-size: var(--fs-30);
    }

    .lh-sm-40 {
        line-height: var(--lh-40);
    }
}

@media (min-width:992px) {
    .lh-lg-56 {
        line-height: var(--lh-56);
    }

    .gap_lg_68 {
        gap: 68px;
    }

    .pt_lg_60 {
        padding-top: 60px !important;
    }

    .fs-lg-48 {
        font-size: var(--fs-48);
    }

    .mt_lg_40 {
        margin-top: 40px !important;
    }

    .lh-lg-45 {
        line-height: var(--lh-45);
    }

    .fs-lg-38 {
        font-size: var(--fs-38);
    }

    .services_btn {
        margin-top: 84px !important;
    }

    .services_btn_2 {
        margin-top: 40px !important;
    }

    .w-lg-47 {
        width: 47% !important;
    }

    .about_us_card {
        padding: 70px 50px 70px 50px !important;
    }

    .services_card {
        padding: 30px;
    }

    .about_card {
        padding: 60px !important;
    }

    .mb_lg_60 {
        margin-bottom: 60px !important;
    }

    .profile_card {
        padding: 14px !important;
    }

    .web_btn {
        padding: 14px 16px 14px 16px !important;
    }

    .pl_12 {
        padding-left: 12px;
    }

    .choice_us_card {
        padding: 60px !important;
    }
}


@media (min-width:1200px) {
    .about_us_card {
        padding: 80px 60px 80px 60px;
    }

    .services_card {
        padding: 40px;
    }
}

@media (max-width:576px) {
    .overflow-md-auto {
        overflow: auto;
    }
}